.services {
    width: 100%;
    height: 617px;

    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;

    @media screen and (max-width: 430px) {
        flex-direction: column;
        height: auto;
    }

    &-block {
        width: 30%;
        height: 450px;
        margin: 104px auto 72px auto;
        position: relative;

        @media screen and (max-width: 430px) {
            width: 100%;
            margin: 0;
        }

        &-cover {
            width: 100%;
            height: 100%;
            background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 50%);
            position: absolute;
            display: flex;
            align-items: flex-end;

            & h3 {
                text-align: center;
                width: 100%;
                margin-bottom: 10%;
                position: relative;
                z-index: 3;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                justify-content: center;

            }

            &:hover {

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url('./pictures/flammes.gif');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    opacity: 50%;
                    z-index: 2;
                }
            }
        }



    }
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
    overflow: hidden;

    &-wrap {
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5%;

        @media screen and (max-width: 430px) {
            flex-direction: column;
            width: 80%;
            height: auto;
            gap: 10%;
            text-align: center;
        }

    }

    @media screen and (max-width: 430px) {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-top: 5vh;
        padding-bottom: 5vh;
        justify-content: center;
        align-items: center;

        &-img1 {
            width: 100%;
            height: auto;
        }

        &-img2 {
            width: 100%;
            height: auto;
        }
    }



    &-inside {
        display: flex;
        flex-direction: column;
        gap: 50px;

        & p {
            width: 75%;
            color: #CCC;
            justify-content: left;
        }

        @media screen and (max-width: 430px) {
            margin: 0;
            padding-top: 5%;
            padding-bottom: 15%;
            align-items: center;
            gap: 0;

        }
    }
}