.menu-navigation-container {
	position: absolute;
	z-index: 4;
	left: 12.5%;
	right: 12.5%;

	& a {
		font-size: 24px;
	}

	@media screen and (max-width: 430px) {
		display: none;
		align-items: center;
		justify-content: center;
		padding-top: 125px;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: #1e1e1e;

		&.burger {
			display: block;
		}
	}
}


.identity {
	width: 100%;
	height: auto;
	z-index: 2;
	position: relative;
	top: 0;
	padding-top: 50px;
	text-align: center;


	&-background {
		background-color: black;
		height: 100%;
		opacity: 50%;
		background-size: cover;
		background-position: center center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;


	}

	&-content {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 3;
		padding-top: 5%;
		padding-bottom: 5%;

		@media screen and (max-width:430px) {
			& img {
				width: 100%;
				height: auto;
			}
		}

	}

	&-logo {
		margin: auto 206px auto 200px;
	}

}

@media screen and (max-width: 430px) {
	#burger-menu {
		height: 27px;
		width: 27px;
		margin: 25px;
		overflow: visible;
		position: absolute;
		z-index: 5;

		cursor: pointer;

		// THE LINES
		& span,
		span:before,
		span:after {
			background: #fff;
			display: block;
			height: 2px;
			opacity: 1;
			position: absolute;
			transition: 0.3s ease-in-out;
		}

		span:before,
		span:after {
			content: '';
		}

		// TOP
		span:before {
			left: 0px;
			top: -10px;
			width: 37px;
		}

		// MIDDLE
		span {
			right: 0px;
			top: 13px;
			width: 37px;
		}

		// BOTTOM
		span:after {
			left: 0px;
			top: 10px;
			width: 37px;
		}

		// ROTATION ON CLICK
		&.close {

			// TOP
			span:before {
				top: 0px;
				transform: rotate(90deg);
				width: 37px;
			}

			// MIDDLE
			span {
				transform: rotate(-45deg);
				top: 13px;
				width: 37px;
			}

			// BOTTOM
			span:after {
				top: 0px;
				left: 0;
				transform: rotate(90deg);
				opacity: 0;
				width: 0;
			}
		}
	}
}


#menu {

	&-navigation {
		padding-top: 4%;
		max-width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 10%;
		padding-top: 5%;
		transition: all 1s;


		@media screen and (max-width: 430px) {
			flex-direction: column;
			text-align: center;
			gap: 30px
		}
	}


}