.filters {

    color: white;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    & a {
        &:hover {
            text-decoration: underline;
        }
    }

    @media screen and (max-width: 430px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 15px;
    }
}

.realisation {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;

    @media screen and (max-width:430px) {
        width: 100%;
        height: 400px;

    }

    &:hover {
        background: none !important;

        .realisation-second {
            display: block;
            transition-property: margin-right;
            opacity: 1;
            transition: 1.5s;
        }
    }


    &-display {
        margin: 5vh 4vw 5vh 4vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 100px;
        grid-row-gap: 100px;
        width: 100%;

        @media screen and (max-width:430px) {
            margin: 0;
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 20px;
            grid-column-gap: 0;
        }
    }

    &-second {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        z-index: 3;
        opacity: 0;
        border-radius: 20px;
    }

    &-mask {
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 50%);
        position: absolute;
        display: flex;
        align-items: flex-end;
        border-radius: 20px;
        z-index: 3;
    }

    &-title {
        display: flex;

        @media screen and (max-width: 430px) {
            padding: 0;
            width: 100%;
        }
    }

    & h3 {
        text-align: center;
        width: 100%;
        margin-bottom: 10%;
        position: relative;
        z-index: 4;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }


    &-navigation {
        margin: 10% 15% 5% 15%;
        display: flex;
        justify-content: center;
        gap: 25%;
        color: white;

        & .unactive{
            color: grey;
        }
    }
}