.title-textarea {
    display: flex;
    flex-direction: column;
    width: 75%;

    &-zone {
        padding-top: 50px;
        padding-bottom: 100px;
        width: 100%;
        background-color: #1e1e1e;
    }

    & h2 {
        justify-content: left;
        margin-left: 0;
    }
}